body {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  background-color: #283618;
  padding: 20px 0;
}

.login {
  padding-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.login-btn,
.sign-up-btn {
  padding: 8px 18px;
  margin-right: 10px;
  background-color: #FEFAE0;
  color: #283618;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.basket{
  padding-right: 20px;
}

.login-btn:hover,
.sign-up-btn:hover {
  background-color: #DDA15E;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.logo-img {
  border-radius: 50%;
  margin-right: 10px;
}

.logo h1 {
  margin: 0;
  font-size: 24px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  background-color: #606C38;
  padding: 10px 0;
}
.nav-link {
  padding: 10px 20px;

  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #BC6C25;
}


.home-shop {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.featured,
.category {
  padding: 20px;
  margin: 20px;
  border: 2px solid #FEFAE0;
  border-radius: 5px;
  background-color: #FEFAE0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  justify-content: center;
}

.categories > div {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 200px; 
  border: 2px solid #FEFAE0;
  border-radius: 10px;
}

.categories > div img {
  width: 100%;
  height: auto; 
  object-fit: cover;
}

.categories > div::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #606C38;
  border-radius: 10px;
}

.categories > div span {
  display: block;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #283618;
}

.featured-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px;
  justify-content: center;
}

.featured-product {
  text-align: center;
}

.featured-product img {
  width: 100%;
  max-width: 200px; /* Adjust the max-width to control the size */
  height: auto;
  object-fit: cover;
}

.featured-product h3 {
  margin-top: 10px;
  font-size: 18px;
}
