.shop-page {
  text-align: center;
  padding: 20px;
}

.filters {
  margin-bottom: 20px;
}

.filters input[type="text"],
.filters select {
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #606C38;
}

.plant-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.plant {
  background-color: #FEFAE0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.plant h2 {
  margin-bottom: 10px;
}

.plant p {
  margin: 5px 0;
}
