.plant {
  background-color: #FEFAE0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s;
}

.plant-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}

.plant h2 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
}

.plant p {
  margin: 5px 0;
  font-size: 0.9rem;
  color: #666;
}

.add-to-basket {
  padding: 8px 12px;
  border-radius: 5px;
  border: 2px solid #DDA15E;
  background-color: #FEFAE0;
  color: #DDA15E;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.add-to-basket:hover {
  background-color: #DDA15E;
  color: #fff;
}


.order-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FEFAE0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.order-page h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #606C38;
}

.total-price {
  text-align: center;
  margin-bottom: 20px;
}

.total-price h2 {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.order-btn {
  display: block;
  width: 100%;
  background-color: #606C38;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}
